<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 80%;">
    <div class="item images-parent">
      <img src="assets/icon_4.png" style="width: 100%;" class="center-image">
    </div>
    <div>
      <div id="divUrl" class="" style="text-align: center; padding-left: 10% !important; display: none;">
        <p id="strUrl"
          style="margin-top: 8% !important; margin-bottom: 0px !important; width: 90% !important; background-color: #fed102 !important;">
          www.p.com</p>
      </div>
      <div class="ion-padding" style="text-align: center; padding-top: 0;">
        <ion-button (click)="startScanning()" expand="full" shape="round" color="gray">scan</ion-button>
      </div>
    </div>
    <div class="item images-parent">
      <img src="assets/icon_3.png" style="width: 40%;" class="center-image">
    </div>
  </div>
  <div style="position: absolute; bottom: 15px; right: 25px;">
    <div>
      <a href="http://www.evaluame.co" target="_system" rel="noopener noreferrer">Contacto clic aqui</a>
    </div>
  </div>
</ion-content>