.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

page-qr-scanner {
  img {
    opacity: 0.5;
    max-width: 95%;
    max-height: calc(98% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
  background: transparent none !important;
}

.images-parent {
  text-align: center;
}

.left-image {
  float: left;
  max-width: 80px !important;
  max-height: 80px !important;
}

.center-image {
  margin: 0 auto;
}

.right-image {
  float: right;
  max-width: 80px !important;
  max-height: 80px !important;
}

.btn-disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}
